@media (max-width: $tablet - 1) {
    .columns.is-reversed-mobile {
        flex-direction: column-reverse;
        display: flex;
    }
}
@media (max-width: $tablet - 1) {
    .column.is-fullwidth-mobile {
        width: 100%;
    }
}

.overflow {
    overflow: hidden;
}

[v-cloak], .v-load {
    display: block;
    padding: 50px 0;

    &:before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: calc(50% - 1rem);
        font-size: 2rem;
        @include loader;
    }

    & > * {
        display: none;
    }
}

.level-item-left {
    @extend .level-item;

    justify-content: flex-start;
}
.level-item-right {
    @extend .level-item;

    justify-content: flex-end;
}
